---
title: "Info"
layout: "infos.njk"
eleventyNavigation:
  key: Info
  order: 1
---

<ul>
  <li><a href="/info/about/" class="under">About</a></li>
  <li><a href="/info/connect/" class="under">Connect</a></li>
</ul>
