<footer>
  <span>© Leanne Fischler · {% year %}</span>
  <span>Built with <a href="https://www.11ty.dev/" class="under">Eleventy</a> · <a href="https://github.com/" class="under">GitHub</a> · <a href="https://www.netlify.com/" class="under">Netlify</a></span>
</footer>
