---
layout: "base.njk"
---

<p class="crumb"><a href="/info/" class="under">Info</a> &nbsp;/&nbsp; {{ title }}</p>
<h1 class="heading">{{ title }}</h1>

<div class="prose">
  {{ content | safe }}
</div>
