<section class="intro-section">
  <div class="intro-text prose lg:prose-lg mx-auto p-8">
    {% renderTemplate "md" %}
_Introduction to projects area_
My practice is defined by movement across different domains: from speculative design studios to academic research institutes and front-line community energy projects. This fluidity allows me to test ideas across various scales and contexts. The projects below are organized by the _mode_ of operation, demonstrating how I transition from critical investigation to tangible implementation.
    {% endrenderTemplate %}
  </div>
</section>