<section class="intro-section">
  <div class="intro-text prose lg:prose-lg mx-auto p-8">
    {% renderTemplate "md" %}
_Introduction to projects area_
My practice is defined by movement across different domains: from speculative design studios to academic research and front-line community projects. I am always testing ideas across, and learning from working within, various scales and contexts.
The projects on this site are organised by the _mode_ of operation.
    {% endrenderTemplate %}
  </div>
</section>