---
title: "About Leanne Fischler"
layout: "base.njk"
eleventyNavigation:
  key: About
  parent: Info
  order: 1
---

<div class="prose">
  <p>
    <b>Hello</b>, I’m a researcher and creative based in the Orkney Isles. I explore the social impacts of emerging digital technologies; and considering ways that we can make these technologies work for us and the futures we want to build.
  </p>
  <p><I>
    On this site, you’ll find a selection of the research and practice-based projects I’ve led or taken taken part in that sit at the intersection of design, data, social research, and speculative futures.
  </p></i>
  <br>
  <p>
    My background is in the design and futures industry. For three years, I worked at award-winning design studio <a href="www.superflux.in">Superflux</a> where I held a position as Senior Designer and contributed to international exhibitions, films, and cultural works. My work at Superflux allowed me to focus on <b>tensions between emerging technologies and shifting climactic and social contexts</b>: exploring topics such as gene technologies, future of food and citizen-centred alternatives for the internet.
  </p>
  <p>
    After almost a decade of calling myself a “designer”, I returned to academia to focus on developing my social sciences research and technical data skills: focusing specifically on <b>big data and community technology</b>. I intend to use these skills to work across technical and research projects whilst still drawing from my design and futures practice.
  </p>
  <p>
    I also hold a post leading the technical team at <a href="www.communityenergyscotland.org.uk">Community Energy Scotland</a> where I am developing fair and inclusive community energy projects that use digital technologies for good. Here, my work includes applying data and data governance processes to <b>help co-create practices for community resilience and agency</b>. I also carry out technical project activities such as data analysis; and code scripts that work with live data streams.
  </p>
</div>