---
title: "Applied Work"
layout: "base.njk"
wide: true
eleventyNavigation:
  key: Applied Work
  parent: Projects
  order: 4
eleventyImport:
  collections:
    - participatory
    - applied
    - technical
---

{% set categoryTags = ["participatory", "applied", "technical"] %}
{% set pageHeading = "<em>Applied</em> work" %}
{% set pageIntro = "Applied projects working directly with community organisations. Often place-based, and developed through co-production" %}

{% include "category-page.njk" %}
