---
title: "Working in Communities"
layout: "base.njk"
eleventyNavigation:
  key: Community Work
  parent: Projects
  order: 5
eleventyImport:
  collections: ["communities"]
---

<h2 class="projects__heading">Recent participatory community projects</h2>

<div class="project-list">
  {% asyncEach project in collections.communities %}
    {% include "project-card.njk" %}

  {% endeach %}
</div>