---
title: "Creative Responses Leanne Fischler"
layout: "base.njk"
eleventyNavigation:
  key: Creative Responses
  parent: Projects
  order: 2
---

<h2 class="projects__heading">Creative Responses</h2>
<div class="project-list">
  {% asyncEach project in collections.creative %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>