---
title: "play"
layout: "base.njk"
eleventyNavigation:
  key: Play
  parent: Projects
  order: 6
---

<h2 class="projects__heading">Play</h2>

<div class="project-grid">
  {% asyncEach project in collections.play %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>
