---
title: "Play"
layout: "base.njk"
wide: true
eleventyNavigation:
  key: Play
  parent: Projects
  order: 5
eleventyImport:
  collections:
    - play
---

{% set categoryTags = ["play"] %}
{% set pageHeading = "<em>Play</em>" %}
{% set pageIntro = "A place for experimentation and building things, making for the sake of making." %}

{% include "category-page.njk" %}
