---
title: "Research and Futures"
layout: "base.njk"
eleventyNavigation:
  key: Research & Futures
  parent: Projects
  order: 1
---

<h2 class="projects__heading">Creative Responses</h2>

<section class="project-grid-container">
  <div class="project-grid">
    {% asyncEach project in collections.futures %}
      {% include "project-card.njk" %}
    {% endeach %}
    {% asyncEach project in collections.research %}
      {% include "project-card.njk" %}
    {% endeach %}
  </div>
</section>