---
title: "Talks and Print"
layout: "base.njk"
eleventyNavigation:
  key: Talks & Print
  parent: Projects
  order: 3
eleventyImport:
  collections:
    - dissemination
---

{% include "projects-intro-section.njk" %}

<h2 class="projects__heading">Talks and Print</h2>

<div class="prose lg:prose-lg mx-auto p-8">
  {% renderTemplate "md" %}
Here, I plan to collect the ways that I share my findings and experiences through formal presentations, published articles, and educational media.
  {% endrenderTemplate %}
</div>

<div class="project-list">
  {% asyncEach project in collections.dissemination | sort(attribute="data.year") | reverse %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>