---
title: "Talks and Print"
layout: "base.njk"
eleventyNavigation:
  key: Talks & Print
  parent: Projects
  order: 3
eleventyImport:
  collections:
    - dissemination
---

<h2 class="projects__heading">Talks and Print</h2>

<div class="project-list">
  {% asyncEach project in collections.dissemination | sort(attribute="data.year") | reverse %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>