---
title: "Talks & Print"
layout: "base.njk"
wide: true
eleventyNavigation:
  key: Talks & Print
  parent: Projects
  order: 3
eleventyImport:
  collections:
    - dissemination
---

{% set categoryTags = ["dissemination"] %}
{% set pageHeading = "Talks &amp; <em>print</em>" %}
{% set pageIntro = "Formal presentations, published articles, and educational media. The places where I share what I'm working through with wider audiences." %}

{% include "category-page.njk" %}
