---
title: "Technical"
layout: "base.njk"
eleventyNavigation:
  key: Technical
  parent: Projects
  order: 5
eleventyImport:
  collections: ["participatory"]
---

<h2 class="projects__heading">Technical work</h2>

<div class="project-list">
  {% asyncEach project in collections.technical %}
    {% include "project-card.njk" %}

  {% endeach %}
</div>