---
title: "Community and Technical Work"
layout: "base.njk"
eleventyNavigation:
  key: Community & Technical
  parent: Projects
  order: 3
eleventyImport:
  collections:
    - participatory
    - communities
    - technical
---

<h2 class="projects__heading">Applied Community and Technical Work</h2>


<h2 class="projects__heading">Technical work</h2>

<div class="project-list">
  {% asyncEach project in collections.technical | sort(attribute="data.year") | reverse %}
    {% include "project-card.njk" %}

  {% endeach %}
</div>


<h2 class="projects__heading">Recent participatory community projects</h2>

<div class="project-list">
  {% asyncEach project in collections.communities | sort(attribute="data.year") | reverse %}
    {% include "project-card.njk" %}

  {% endeach %}
</div>