---
title: "Applied Work"
layout: "base.njk"
wide: true
eleventyNavigation:
  key: Applied Work
  parent: Projects
  order: 4
eleventyImport:
  collections:
    - participatory
    - communities
    - technical
---

{% set categoryTags = ["participatory", "communities", "technical"] %}
{% set pageHeading = "Community &amp; <em>technical</em>" %}
{% set pageIntro = "Applied projects working directly with community organisations. Often place-based, and developed through co-production" %}

{% include "category-page.njk" %}
