<div class="prose">
  <h3>Currently</h3>
  <ul>
    <li><a href="www.communityenergyscotland.org.uk">Community Energy Scotland</a> Technical Team Manager, developing fair and inclusive community energy projects.</li>

  </ul>

  <h3>Recently</h3>
  <ul>
    <li><a href="https://efi.ed.ac.uk/">Edinburgh Futures Institute</a> Graduated with Distinction from MSc. in Data, Inequality and Society at Edinburgh University</li>
    <li><a href="www.communityenergyscotland.org.uk">Community Energy Scotland</a> Data and Digital Officer</li>
    <li><a href="www.superflux.in">Superflux</a> Senior Designer on the production of major immersive design fiction installations and films such as Mitigation of Shock, Singapore and Museum of the Future, Dubai and the intersection.</li>
    <li><a href="https://www.sps.ed.ac.uk/staff/lara-m-santos-ayllon">Edinburgh University</a> Research Assistant for Lara M. Santos Ayllón in Just Energy Futures</li>
    <li><a href="https://www.ideocolab.com/">IDEO CoLab</a> circular economy fellowship for co-design program with industry partners</li>
    <li><a href="https://www.bristolcommunityenergy.co.uk/demand-energy-equality/">Demand Energy Equality</a> Energy literacy and solar panel building workshops</li>
    <li><a href="https://www.vam.ac.uk/dundee/whatson/exhibitions/scottish-design-relay">V&A Dundee</a> Leading a nation wide program of design workshops for young people around climate and social issues</li>
  </ul>
</div>