<section class="profile">
  <div class="profile-div">
    <div class="profile__card">
      <h2 class="profile__text profile__text--lead">
        Hello, my name is Leanne. I’m a researcher and creative based in the Orkney Isles.
      </h2>
      <p class="profile__text">
        I work on projects that explore the social impacts of emerging digital and energy technologies; and consider ways that we can make these technologies work for us and the futures we want to build.
      </p>
    </div>
    <div class="profile__image-wrapper">
      {% EleventyImage "/images/profile.png", "Leanne Fischler", "(min-width: 16em) 50vw, 100vw" %}
    </div>
  </div>
</section>