<section class="profile">
  <div class="profile-div">
    <div class="profile__card">
      <h2 class="profile__text profile__text--lead">
        Hello, I'm Leanne. A researcher and creative based in the Orkney Isles.
      </h2>
      <p class="profile__text">
        I'm interested in the tools we use as communities living together in a series of connected small places on this planet. I like to question the impact of these tools and to design alternatives.
      </p>
    </div>
    <div class="profile__image-wrapper">
      {% EleventyImage "/images/profile.png", "Leanne Fischler", "(min-width: 16em) 50vw, 100vw" %}
    </div>
  </div>
</section>