---
title: "Projects"
layout: "base.njk"
eleventyNavigation:
  key: Projects
  order: 2
---

<h1 class="heading">Projects</h1>

<ul>
  <li><a href="/project-types/research-and-futures/" class="under">Research &amp; <em>futures</em></a></li>
  <li><a href="/project-types/creative-responses/" class="under">Creative <em>responses</em></a></li>
  <li><a href="/project-types/talks-and-print/" class="under">Talks &amp; <em>print</em></a></li>
  <li><a href="/project-types/technical-and-communities/" class="under">Community &amp; <em>technical</em></a></li>
  <li><a href="/project-types/play/" class="under"><em>Play</em></a></li>
</ul>
